:root {
  --purple: #6a2c70;
  --orange: #f08a5d;
  --yellow: #F9ED69;
  --red: #b83b5e;
  --blue: #0d7377;
  --dark: #061c26;
}

body {
  margin: 0;
  color: white;
  background: var(--dark);
  
}

section {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  max-width: 100vw;
}

.purple {
  background: var(--purple);
}

.orange {
  background: var(--orange);
}

.red {
  background: var(--red);
}

.blue {
  background: var(--blue);
}

.yellow {
  background-color: var(--yellow);
}

.spacer {
  aspect-ratio: 960/540;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
}

.layer1 {
  background-image: url("/imgs/orange-peaks.svg");
 
}

.layer2 {
  background-image: url("/imgs/red-purple.svg");
}

.layer3 {
  background-image: url("/imgs/purple-steps1.svg");
}

.flip {
  transform: rotate(180deg);
}

.curve {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.tilt {
  position: absolute;
  bottom: 72%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.tilt img {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 250px;
}

.curve img {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 152px;
}